.idea/**
*.iml
build-works/
libs/
bin
.classpath
.project
.settings
target
logs/latest.log
commandapi-plugin/dependency-reduced-pom.xml
commandapi-shade/dependency-reduced-pom.xml
.vscode
commandapi-plugin-test/command_registration.json
commandapi-plugin-test/logs/*