**/.idea/
*.iml
build-works/
libs/
bin
.classpath
.project
.settings
target
build
**/logs/*.log
**/logs/*.log.gz
.vscode
.DS_Store
docssrc/src/.markdownlint-cli2.yaml
.gradle
*.versionsBackup
dependency-reduced-pom.xml
.paper-nms
