.idea/**
*.iml
build-works/
libs/
bin
.classpath
.project
.settings
target
CommandAPI/logs/latest.log
CommandAPI/commandapi-plugin/dependency-reduced-pom.xml
CommandAPI/commandapi-shade/dependency-reduced-pom.xml
