/**
 * Minecraft font: https://www.fontspace.com/minecraft-font-f28180
 * Free for personal use (commercial use requires donation). Since the
 * CommandAPI is strictly a free-for-all product (and has no commercial
 * implications), we're allowed to use this!
 */
@font-face {
	font-family: "CustomFont";
	src: url("MinecraftRegular-Bmg3.otf") format("opentype");
}

body {
	background-color: black;
}

#chatbox, #error-box, #suggestions-box, #valid-box, #app-error-box {
	font-family: CustomFont;
	color: #a8a8a8;
	font-size: 28pt;
	margin: 0;
	text-shadow: 5px 5px #292929;
}

span {
	outline: 0px solid transparent; /* No contenteditable border */
	/** caret-color: transparent; */
}
#cmd-input-autocomplete {
	/* Not entirely sure why, but this has some random gap between this and the
	 * previous element when there shouldn't be one. Get rid of it! */
	margin-left: -15px;
	-webkit-user-select: none; /* Safari */
	user-select: none; /* Everything else */
}
#cmd-input {
	display: inline-block;
	min-width: 1px; /* If this has a width of 0, the cursor won't display! */
}

.bg {
	background-color: #7daaff;
	padding: 20px 5px 5px;
	height: 500px;
	position: relative;
}

#chatbox {
	background-color: #3f567f;
	padding-left: 8px;
	/* 8px padding left, 10px margin (left), 10px margin (right) */
	width: calc(100% - 8px - 10px - 10px);
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
}

#error-box, #suggestions-box {
	background-color: #161e2c;
	padding-left: 8px;
	/* 8px padding left, 10px margin (left), 10px margin (right) */
	width: calc(100% - 8px - 10px - 10px);
	position: absolute;
	bottom: 49px;
	left: 0;
	margin: 10px;
}

#suggestions-box {
	left: 28px; /* This position will have to change over time, we'll figure that out later*/
	width: unset;
	padding-right: 24px;
	max-height: 400px;
	overflow: auto;
}

/* width */
#suggestions-box::-webkit-scrollbar {
	width: 15px;
}

/* Handle */
#suggestions-box::-webkit-scrollbar-thumb {
	background: gray;
}

/* Handle on hover */
#suggestions-box::-webkit-scrollbar-thumb:hover {
	background: #555555; 
}

#valid-box, #app-error-box {
	background-color: #161e2c;
	padding-left: 8px;
	/* 8px padding left */
	width: calc(100% - 8px);
	bottom: 49px;
	left: 0;
}

#commands {
	margin-top: 8px;
	width: 100%;
	height: 150px;
	font-family: monospace;
	font-size: 16pt;
	color: white;
	background-color: #161e2c;
}

/* From https://codepen.io/joexmdq/pen/EOMLzg */
#register-commands-button {
	background: #999 url('./bgbtn.png');
	padding: 10px 30px;
	margin-top: 8px;
	font-family: CustomFont;
	color: #DDD;
	font-size: 20pt;
	text-shadow: 3px 3px #000A;
	box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
	image-rendering: pixelated;
	border: 2px solid #000;
}

#register-commands-button:hover {
	background: #b2b6ff url('./bgbtnhov.png');
	text-shadow: 3px 3px #202013CC;
	color: #FFFFA0;
}
#register-commands-button:active {
	box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

.errorEntry {
	display: block;
	font-size: 20pt;
}

/****************
 * Colors!
 */
.black {
	color: #000000;
	text-shadow: 5px 5px #000000;
}
.dark_blue {
	color: #0000aa;
	text-shadow: 5px 5px #00002a;
}
.dark_green {
	color: #00aa00;
	text-shadow: 5px 5px #002a00;
}
.dark_aqua {
	color: #00aaaa;
	text-shadow: 5px 5px #002a2a;
}
.dark_red {
	color: #AA0000;
	text-shadow: 5px 5px #2a0000;
}
.dark_purple {
	color: #AA00AA;
	text-shadow: 5px 5px #2a002a;
}
.gold {
	color: #ffaa00;
	text-shadow: 5px 5px #2a2a00;
}
.gray {
	color: #AAAAAA;
	text-shadow: 5px 5px #292929;
}
.dark_gray {
	color: #555555;
	text-shadow: 5px 5px #151515;
}
.blue {
	color: #5555ff;
	text-shadow: 5px 5px #15153f;
}
.green {
	color: #55FF55;
	text-shadow: 5px 5px #002a00;
}
.aqua {
	color: #55FFFF;
	text-shadow: 5px 5px #153e3e;
}
.red {
	color: #FF5555;
	text-shadow: 5px 5px #3e1515;
}
.light_purple {
	color: #ff55ff;
	text-shadow: 5px 5px #3f153f;
}
.yellow {
	color: #FFFF55;
	text-shadow: 5px 5px #3e3e15;
}
.white {
	color: #FFFFFF;
	text-shadow: 5px 5px #3f3f3f;
}

/****************
 * Typing caret
 * https://css-tricks.com/almanac/properties/c/caret-shape/
 * It's a good start, but I'll probably use a JavaScript solution for more fine-
 * tuning instead
 */
@keyframes blink {
	from, to {
		border-color: transparent;
	}
	50% {
		border-color: #fff;
	}
}

.cursor {
	animation: blink 1s step-end infinite;
    border-bottom: 4px solid white;
    left: -10px;
    bottom: 5px;
    position: relative;
}