.example {
    padding-left: 20px;
    padding-right: 20px; 
    margin: 20px 0;
    padding: 0 20px;
    color: var(--fg);
    background-color: var(--example-bg);
    border-top: .1em solid var(--example-border);
    border-bottom: .1em solid var(--example-border);
}

h3 {
    margin-top: 20px;
}
h2 {
    margin-top: 20px;
}

h1 {
    text-align: center;
}