.example {
    margin: 20px 0;
    padding: 0 20px;
    color: var(--fg);
    background-color: var(--example-bg);
    border-top: .1em solid var(--example-border);
    border-bottom: .1em solid var(--example-border);
}

.warning {
    margin: 20px 0;
    padding: 0 20px;
    color: var(--fg);
    background-color: var(--warning-bg);
    border-top: .1em solid var(--warning-border);
    border-bottom: .1em solid var(--warning-border);
}

h3 {
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

h1 {
    text-align: center;
}

.multi-pre pre {
    margin-top: 0;
}

button.language-selector {
    border: none;
    background-color: var(--bg);
    color: var(--inline-code-color);
    padding: 10px 20px;
    cursor: pointer;
    font-family: inherit;
}

button.language-selector.selected {
    background-color: var(--code-bg);
}

@media only screen and (max-width:1439px) {
    .sidetoc {
        display: none;
    }
}

@media only screen and (min-width:1440px) {
    main {
        position: relative;
    }
    .sidetoc {
        margin-left: auto;
        margin-right: auto;
        left: calc(100% + (var(--content-max-width))/4 - 140px);
        position: absolute;
    }
    .pagetoc {
        position: fixed;
        width: 200px;
    }
    .pagetoc a {
        border-left: 1px solid var(--sidebar-bg);
        color: var(--fg) !important;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        text-align: left;
        text-decoration: none;
    }
    .pagetoc a:hover,
    .pagetoc a.active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg) !important;
    }
    .pagetoc .active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg);
    }
}