@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");
.index .section {
    margin-top: 2rem
}

.index .section .header {
    margin-top: 4rem
}

.index .section .component {
    margin-top: 2rem
}

.index .intro {
    padding: 4rem 0rem
}

.index .intro .desc {
    padding: 1rem 0rem 3rem
}

.index .color {
    margin: 1.5rem 0rem
}

.index .color .swatch {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    margin: .5rem 0rem 1rem;
    font-size: 4rem;
    text-align: center;
}

.index .color .title {
    font-weight: 500;
    font-size: 1.1rem
}

.bg-primary {
    background-color: #4A154B !important
}

.bg-secondary {
    background-color: #091A3D !important
}

.bg-success {
    background-color: #2EB67D !important
}

.bg-info {
    background-color: #167895 !important
}

.bg-warning {
    background-color: #EBB12B !important
}

.bg-danger {
    background-color: #EB616A !important
}

.bg-light {
    background-color: #F7F7F7 !important
}

.bg-white {
    background-color: #fff !important
}

.bg-neutral {
    background-color: #fff !important
}

.bg-dark {
    background-color: #1D1C1D !important
}

.btn,
.navbar .navbar-nav>a.btn {
    font-weight: 600;
    font-size: .9rem;
    border-radius: .25rem;
    padding: .5rem 1rem;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear
}

.btn:hover,
.btn:focus,
.navbar .navbar-nav>a.btn:hover,
.navbar .navbar-nav>a.btn:focus {
    outline: 0 !important
}

.btn:active,
.btn.active,
.open>.btn.dropdown-toggle,
.navbar .navbar-nav>a.btn:active,
.navbar .navbar-nav>a.btn.active,
.open>.navbar .navbar-nav>a.btn.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important
}

.btn .badge,
.navbar .navbar-nav>a.btn .badge {
    margin: 0
}

.btn.btn-link,
.navbar .navbar-nav>a.btn.btn-link {
    background-color: transparent
}

.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active,
.btn.btn-link:active:focus,
.navbar .navbar-nav>a.btn.btn-link:hover,
.navbar .navbar-nav>a.btn.btn-link:focus,
.navbar .navbar-nav>a.btn.btn-link:active,
.navbar .navbar-nav>a.btn.btn-link:active:focus {
    background-color: transparent;
    text-decoration: none
}

.btn.btn-lg,
.navbar .navbar-nav>a.btn.btn-lg {
    font-size: 1.25rem;
    border-radius: .3rem;
    padding: .5rem 1.2rem
}

.btn.btn-sm,
.navbar .navbar-nav>a.btn.btn-sm {
    font-size: .875rem;
    border-radius: .2rem;
    padding: .25rem .7rem
}

.btn.btn-pill,
.navbar .navbar-nav>a.btn.btn-pill {
    border-radius: 4rem
}

.btn.btn-icon,
.navbar .navbar-nav>a.btn.btn-icon {
    padding: .5rem .8rem;
    border-radius: 4rem
}

.btn.btn-icon.btn-sm,
.navbar .navbar-nav>a.btn.btn-icon.btn-sm {
    padding: .3rem .55rem
}

.btn.btn-icon.btn-lg,
.navbar .navbar-nav>a.btn.btn-icon.btn-lg {
    padding: .65rem 1rem
}

.btn-primary {
    background-color: #611F6A;
    border: 1px solid #611F6A
}

.btn-primary:not(:disabled):hover,
.btn-primary:not(:disabled):focus,
.btn-primary:not(:disabled):active,
.btn-primary:not(:disabled).active,
.btn-primary:not(:disabled):active:focus,
.btn-primary:not(:disabled):active:hover,
.btn-primary:not(:disabled).active:focus,
.btn-primary:not(:disabled).active:hover,
.show>.btn-primary:not(:disabled).dropdown-toggle,
.show>.btn-primary:not(:disabled).dropdown-toggle:focus,
.show>.btn-primary:not(:disabled).dropdown-toggle:hover {
    background-color: #4b1852;
    border: 1px solid #4b1852;
    box-shadow: none
}

.btn-primary:not([data-action]):hover {
    box-shadow: none
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary[disabled],
.btn-primary fieldset[disabled] {
    background-color: #611F6A;
    border: 1px solid #611F6A
}

.btn-secondary {
    background-color: #071D5C;
    border: 1px solid #071D5C
}

.btn-secondary:not(:disabled):hover,
.btn-secondary:not(:disabled):focus,
.btn-secondary:not(:disabled):active,
.btn-secondary:not(:disabled).active,
.btn-secondary:not(:disabled):active:focus,
.btn-secondary:not(:disabled):active:hover,
.btn-secondary:not(:disabled).active:focus,
.btn-secondary:not(:disabled).active:hover,
.show>.btn-secondary:not(:disabled).dropdown-toggle,
.show>.btn-secondary:not(:disabled).dropdown-toggle:focus,
.show>.btn-secondary:not(:disabled).dropdown-toggle:hover {
    background-color: #051440;
    border: 1px solid #051440;
    box-shadow: none
}

.btn-secondary:not([data-action]):hover {
    box-shadow: none
}

.btn-secondary.disabled,
.btn-secondary:disabled,
.btn-secondary[disabled],
.btn-secondary fieldset[disabled] {
    background-color: #071D5C;
    border: 1px solid #071D5C
}

.btn-success {
    background-color: #007A5B;
    border: 1px solid #007A5B
}

.btn-success:not(:disabled):hover,
.btn-success:not(:disabled):focus,
.btn-success:not(:disabled):active,
.btn-success:not(:disabled).active,
.btn-success:not(:disabled):active:focus,
.btn-success:not(:disabled):active:hover,
.btn-success:not(:disabled).active:focus,
.btn-success:not(:disabled).active:hover,
.show>.btn-success:not(:disabled).dropdown-toggle,
.show>.btn-success:not(:disabled).dropdown-toggle:focus,
.show>.btn-success:not(:disabled).dropdown-toggle:hover {
    background-color: #005b44;
    border: 1px solid #005b44;
    box-shadow: none
}

.btn-success:not([data-action]):hover {
    box-shadow: none
}

.btn-success.disabled,
.btn-success:disabled,
.btn-success[disabled],
.btn-success fieldset[disabled] {
    background-color: #007A5B;
    border: 1px solid #007A5B
}

.btn-info {
    background-color: #1264A4;
    border: 1px solid #1264A4
}

.btn-info:not(:disabled):hover,
.btn-info:not(:disabled):focus,
.btn-info:not(:disabled):active,
.btn-info:not(:disabled).active,
.btn-info:not(:disabled):active:focus,
.btn-info:not(:disabled):active:hover,
.btn-info:not(:disabled).active:focus,
.btn-info:not(:disabled).active:hover,
.show>.btn-info:not(:disabled).dropdown-toggle,
.show>.btn-info:not(:disabled).dropdown-toggle:focus,
.show>.btn-info:not(:disabled).dropdown-toggle:hover {
    background-color: #0f5388;
    border: 1px solid #0f5388;
    box-shadow: none
}

.btn-info:not([data-action]):hover {
    box-shadow: none
}

.btn-info.disabled,
.btn-info:disabled,
.btn-info[disabled],
.btn-info fieldset[disabled] {
    background-color: #1264A4;
    border: 1px solid #1264A4
}

.btn-warning {
    background-color: #ECB22F;
    border: 1px solid #ECB22F
}

.btn-warning:not(:disabled):hover,
.btn-warning:not(:disabled):focus,
.btn-warning:not(:disabled):active,
.btn-warning:not(:disabled).active,
.btn-warning:not(:disabled):active:focus,
.btn-warning:not(:disabled):active:hover,
.btn-warning:not(:disabled).active:focus,
.btn-warning:not(:disabled).active:hover,
.show>.btn-warning:not(:disabled).dropdown-toggle,
.show>.btn-warning:not(:disabled).dropdown-toggle:focus,
.show>.btn-warning:not(:disabled).dropdown-toggle:hover {
    background-color: #e7a715;
    border: 1px solid #e7a715;
    box-shadow: none
}

.btn-warning:not([data-action]):hover {
    box-shadow: none
}

.btn-warning.disabled,
.btn-warning:disabled,
.btn-warning[disabled],
.btn-warning fieldset[disabled] {
    background-color: #ECB22F;
    border: 1px solid #ECB22F
}

.btn-danger {
    background-color: #E01E5B;
    border: 1px solid #E01E5B
}

.btn-danger:not(:disabled):hover,
.btn-danger:not(:disabled):focus,
.btn-danger:not(:disabled):active,
.btn-danger:not(:disabled).active,
.btn-danger:not(:disabled):active:focus,
.btn-danger:not(:disabled):active:hover,
.btn-danger:not(:disabled).active:focus,
.btn-danger:not(:disabled).active:hover,
.show>.btn-danger:not(:disabled).dropdown-toggle,
.show>.btn-danger:not(:disabled).dropdown-toggle:focus,
.show>.btn-danger:not(:disabled).dropdown-toggle:hover {
    background-color: #c51a50;
    border: 1px solid #c51a50;
    box-shadow: none
}

.btn-danger:not([data-action]):hover {
    box-shadow: none
}

.btn-danger.disabled,
.btn-danger:disabled,
.btn-danger[disabled],
.btn-danger fieldset[disabled] {
    background-color: #E01E5B;
    border: 1px solid #E01E5B
}

.btn-white {
    background-color: #fff;
    border: 1px solid #fff
}

.btn-white:not(:disabled):hover,
.btn-white:not(:disabled):focus,
.btn-white:not(:disabled):active,
.btn-white:not(:disabled).active,
.btn-white:not(:disabled):active:focus,
.btn-white:not(:disabled):active:hover,
.btn-white:not(:disabled).active:focus,
.btn-white:not(:disabled).active:hover,
.show>.btn-white:not(:disabled).dropdown-toggle,
.show>.btn-white:not(:disabled).dropdown-toggle:focus,
.show>.btn-white:not(:disabled).dropdown-toggle:hover {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    box-shadow: none
}

.btn-white:not([data-action]):hover {
    box-shadow: none
}

.btn-white.disabled,
.btn-white:disabled,
.btn-white[disabled],
.btn-white fieldset[disabled] {
    background-color: #fff;
    border: 1px solid #fff
}

.btn-neutral {
    background-color: #fff;
    border: 1px solid #fff
}

.btn-neutral:not(:disabled):hover,
.btn-neutral:not(:disabled):focus,
.btn-neutral:not(:disabled):active,
.btn-neutral:not(:disabled).active,
.btn-neutral:not(:disabled):active:focus,
.btn-neutral:not(:disabled):active:hover,
.btn-neutral:not(:disabled).active:focus,
.btn-neutral:not(:disabled).active:hover,
.show>.btn-neutral:not(:disabled).dropdown-toggle,
.show>.btn-neutral:not(:disabled).dropdown-toggle:focus,
.show>.btn-neutral:not(:disabled).dropdown-toggle:hover {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    box-shadow: none
}

.btn-neutral:not([data-action]):hover {
    box-shadow: none
}

.btn-neutral.disabled,
.btn-neutral:disabled,
.btn-neutral[disabled],
.btn-neutral fieldset[disabled] {
    background-color: #fff;
    border: 1px solid #fff
}

.btn-light {
    background-color: #EBEAEB;
    border: 1px solid #EBEAEB
}

.btn-light:not(:disabled):hover,
.btn-light:not(:disabled):focus,
.btn-light:not(:disabled):active,
.btn-light:not(:disabled).active,
.btn-light:not(:disabled):active:focus,
.btn-light:not(:disabled):active:hover,
.btn-light:not(:disabled).active:focus,
.btn-light:not(:disabled).active:hover,
.show>.btn-light:not(:disabled).dropdown-toggle,
.show>.btn-light:not(:disabled).dropdown-toggle:focus,
.show>.btn-light:not(:disabled).dropdown-toggle:hover {
    background-color: #dcdadc;
    border: 1px solid #dcdadc;
    box-shadow: none
}

.btn-light:not([data-action]):hover {
    box-shadow: none
}

.btn-light.disabled,
.btn-light:disabled,
.btn-light[disabled],
.btn-light fieldset[disabled] {
    background-color: #EBEAEB;
    border: 1px solid #EBEAEB
}

.btn-dark {
    background-color: #212529;
    border: 1px solid #212529
}

.btn-dark:not(:disabled):hover,
.btn-dark:not(:disabled):focus,
.btn-dark:not(:disabled):active,
.btn-dark:not(:disabled).active,
.btn-dark:not(:disabled):active:focus,
.btn-dark:not(:disabled):active:hover,
.btn-dark:not(:disabled).active:focus,
.btn-dark:not(:disabled).active:hover,
.show>.btn-dark:not(:disabled).dropdown-toggle,
.show>.btn-dark:not(:disabled).dropdown-toggle:focus,
.show>.btn-dark:not(:disabled).dropdown-toggle:hover {
    background-color: #131618;
    border: 1px solid #131618;
    box-shadow: none
}

.btn-dark:not([data-action]):hover {
    box-shadow: none
}

.btn-dark.disabled,
.btn-dark:disabled,
.btn-dark[disabled],
.btn-dark fieldset[disabled] {
    background-color: #212529;
    border: 1px solid #212529
}

.btn-outline-primary {
    border: 1px solid #611F6A;
    color: #611F6A
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:active:focus,
.btn-outline-primary:active:hover,
.btn-outline-primary.active:focus,
.btn-outline-primary.active:hover,
.show>.btn-outline-primary.dropdown-toggle,
.show>.btn-outline-primary.dropdown-toggle:focus,
.show>.btn-outline-primary.dropdown-toggle:hover {
    background-color: #611F6A;
    border-color: #611F6A
}

.btn-outline-secondary {
    border: 1px solid #071D5C;
    color: #071D5C
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary:active:focus,
.btn-outline-secondary:active:hover,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.active:hover,
.show>.btn-outline-secondary.dropdown-toggle,
.show>.btn-outline-secondary.dropdown-toggle:focus,
.show>.btn-outline-secondary.dropdown-toggle:hover {
    background-color: #071D5C;
    border-color: #071D5C
}

.btn-outline-success {
    border: 1px solid #007A5B;
    color: #007A5B
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success:active:focus,
.btn-outline-success:active:hover,
.btn-outline-success.active:focus,
.btn-outline-success.active:hover,
.show>.btn-outline-success.dropdown-toggle,
.show>.btn-outline-success.dropdown-toggle:focus,
.show>.btn-outline-success.dropdown-toggle:hover {
    background-color: #007A5B;
    border-color: #007A5B
}

.btn-outline-info {
    border: 1px solid #1264A4;
    color: #1264A4
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.show>.btn-outline-info.dropdown-toggle,
.show>.btn-outline-info.dropdown-toggle:focus,
.show>.btn-outline-info.dropdown-toggle:hover {
    background-color: #1264A4;
    border-color: #1264A4
}

.btn-outline-warning {
    border: 1px solid #ECB22F;
    color: #ECB22F
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning:active:focus,
.btn-outline-warning:active:hover,
.btn-outline-warning.active:focus,
.btn-outline-warning.active:hover,
.show>.btn-outline-warning.dropdown-toggle,
.show>.btn-outline-warning.dropdown-toggle:focus,
.show>.btn-outline-warning.dropdown-toggle:hover {
    background-color: #ECB22F;
    border-color: #ECB22F
}

.btn-outline-danger {
    border: 1px solid #E01E5B;
    color: #E01E5B
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger:active:focus,
.btn-outline-danger:active:hover,
.btn-outline-danger.active:focus,
.btn-outline-danger.active:hover,
.show>.btn-outline-danger.dropdown-toggle,
.show>.btn-outline-danger.dropdown-toggle:focus,
.show>.btn-outline-danger.dropdown-toggle:hover {
    background-color: #E01E5B;
    border-color: #E01E5B
}

.btn-outline-white {
    border: 1px solid #fff;
    color: #fff
}

.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active,
.btn-outline-white.active,
.btn-outline-white:active:focus,
.btn-outline-white:active:hover,
.btn-outline-white.active:focus,
.btn-outline-white.active:hover,
.show>.btn-outline-white.dropdown-toggle,
.show>.btn-outline-white.dropdown-toggle:focus,
.show>.btn-outline-white.dropdown-toggle:hover {
    background-color: #fff;
    border-color: #fff
}

.btn-outline-neutral {
    border: 1px solid #fff;
    color: #fff
}

.btn-outline-neutral:hover,
.btn-outline-neutral:focus,
.btn-outline-neutral:active,
.btn-outline-neutral.active,
.btn-outline-neutral:active:focus,
.btn-outline-neutral:active:hover,
.btn-outline-neutral.active:focus,
.btn-outline-neutral.active:hover,
.show>.btn-outline-neutral.dropdown-toggle,
.show>.btn-outline-neutral.dropdown-toggle:focus,
.show>.btn-outline-neutral.dropdown-toggle:hover {
    background-color: #fff;
    border-color: #fff
}

.btn-outline-light {
    border: 1px solid #EBEAEB;
    color: #EBEAEB
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light:active:focus,
.btn-outline-light:active:hover,
.btn-outline-light.active:focus,
.btn-outline-light.active:hover,
.show>.btn-outline-light.dropdown-toggle,
.show>.btn-outline-light.dropdown-toggle:focus,
.show>.btn-outline-light.dropdown-toggle:hover {
    background-color: #EBEAEB;
    border-color: #EBEAEB
}

.btn-outline-dark {
    border: 1px solid #212529;
    color: #212529
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark:active:focus,
.btn-outline-dark:active:hover,
.btn-outline-dark.active:focus,
.btn-outline-dark.active:hover,
.show>.btn-outline-dark.dropdown-toggle,
.show>.btn-outline-dark.dropdown-toggle:focus,
.show>.btn-outline-dark.dropdown-toggle:hover {
    background-color: #212529;
    border-color: #212529
}

a:not(.nav-link):not(.navbar-brand):not(.btn) {
    color: #1264A4;
    font-weight: 600;
    border-bottom: 1px solid #1264A4;
    font-weight: 500;
    text-decoration: none
}

a:not(.nav-link):not(.navbar-brand):not(.btn):hover {
    color: #1264A4;
    border-bottom: 1.5px solid #1264A4
}

a.text-primary {
    color: #611F6A
}

a.text-primary:hover {
    color: #4b1852 !important
}

body {
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #282828;
}

b {
    font-weight: 700
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #212529;
    text-align: center;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-weight: 800
}

.text-primary {
    color: #611F6A !important
}

.text-secondary {
    color: #071D5C !important
}

.text-success {
    color: #007A5B !important
}

.text-info {
    color: #1264A4 !important
}

.text-warning {
    color: #ECB22F !important
}

.text-danger {
    color: #E01E5B !important
}

.text-white {
    color: #fff !important
}

.text-neutral {
    color: #fff !important
}

.text-light {
    color: #EBEAEB !important
}

.text-dark {
    color: #212529 !important
}

.blockquote {
    border-left: 0.2rem solid #611F6A;
    font-size: 1.1rem;
    padding-left: 1.5rem
}

.icon {
    position: relative;
    top: .2em
}

.big-icon {
    font-size: 3rem
}

.navbar {
    padding: 1.2rem 1rem
}

.navbar .navbar-brand {
    font-weight: 800
}

.navbar .nav-link {
    font-weight: 500;
    opacity: .9;
    filter: alpha(opacity=90)
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9)
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(33, 37, 41, 0.9)
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
    color: #212529
}

.navbar-transparent {
    background-color: transparent
}

.table-primary tbody,
.table-primary tr,
.table-primary th,
.table-primary td {
    background-color: rgba(74, 21, 75, 0.3);
    border-color: rgba(74, 21, 75, 0.3);
    color: #000
}

.table-secondary tbody,
.table-secondary tr,
.table-secondary th,
.table-secondary td {
    background-color: rgba(9, 26, 61, 0.3);
    border-color: rgba(9, 26, 61, 0.3);
    color: #000
}

.table-success tbody,
.table-success tr,
.table-success th,
.table-success td {
    background-color: rgba(46, 182, 125, 0.3);
    border-color: rgba(46, 182, 125, 0.3);
    color: #05130d
}

.table-info tbody,
.table-info tr,
.table-info th,
.table-info td {
    background-color: rgba(22, 120, 149, 0.3);
    border-color: rgba(22, 120, 149, 0.3);
    color: #000
}

.table-warning tbody,
.table-warning tr,
.table-warning th,
.table-warning td {
    background-color: rgba(235, 177, 43, 0.3);
    border-color: rgba(235, 177, 43, 0.3);
    color: #443106
}

.table-danger tbody,
.table-danger tr,
.table-danger th,
.table-danger td {
    background-color: rgba(235, 97, 106, 0.3);
    border-color: rgba(235, 97, 106, 0.3);
    color: #720e15
}

.table-light tbody,
.table-light tr,
.table-light th,
.table-light td {
    background-color: rgba(247, 247, 247, 0.3);
    border-color: rgba(247, 247, 247, 0.3);
    color: #919191
}

.table-white tbody,
.table-white tr,
.table-white th,
.table-white td {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    color: #999
}

.table-neutral tbody,
.table-neutral tr,
.table-neutral th,
.table-neutral td {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    color: #999
}

.table-dark tbody,
.table-dark tr,
.table-dark th,
.table-dark td {
    background-color: rgba(29, 28, 29, 0.3);
    border-color: rgba(29, 28, 29, 0.3);
    color: #000
}

.table-hover .table-primary:hover th,
.table-hover .table-primary:hover td {
    background-color: rgba(74, 21, 75, 0.35);
    border-color: rgba(74, 21, 75, 0.35)
}

.table-hover .table-secondary:hover th,
.table-hover .table-secondary:hover td {
    background-color: rgba(9, 26, 61, 0.35);
    border-color: rgba(9, 26, 61, 0.35)
}

.table-hover .table-success:hover th,
.table-hover .table-success:hover td {
    background-color: rgba(46, 182, 125, 0.35);
    border-color: rgba(46, 182, 125, 0.35)
}

.table-hover .table-info:hover th,
.table-hover .table-info:hover td {
    background-color: rgba(22, 120, 149, 0.35);
    border-color: rgba(22, 120, 149, 0.35)
}

.table-hover .table-warning:hover th,
.table-hover .table-warning:hover td {
    background-color: rgba(235, 177, 43, 0.35);
    border-color: rgba(235, 177, 43, 0.35)
}

.table-hover .table-danger:hover th,
.table-hover .table-danger:hover td {
    background-color: rgba(235, 97, 106, 0.35);
    border-color: rgba(235, 97, 106, 0.35)
}

.table-hover .table-light:hover th,
.table-hover .table-light:hover td {
    background-color: rgba(247, 247, 247, 0.35);
    border-color: rgba(247, 247, 247, 0.35)
}

.table-hover .table-white:hover th,
.table-hover .table-white:hover td {
    background-color: rgba(255, 255, 255, 0.35);
    border-color: rgba(255, 255, 255, 0.35)
}

.table-hover .table-neutral:hover th,
.table-hover .table-neutral:hover td {
    background-color: rgba(255, 255, 255, 0.35);
    border-color: rgba(255, 255, 255, 0.35)
}

.table-hover .table-dark:hover th,
.table-hover .table-dark:hover td {
    background-color: rgba(29, 28, 29, 0.35);
    border-color: rgba(29, 28, 29, 0.35)
}

.table-dark td,
.table-dark th,
.table-secondary td,
.table-secondary th {
    color: #fff
}

.card {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transition: transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1)
}

.card .card-header,
.card .card-footer {
    background-color: transparent;
    border: none;
    padding: 1rem;
    border-radius: 0rem
}

.card .card-body {
    padding: 1rem
}

.card .card-img {
    border-radius: 0
}

.card:not(.no-hover):hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.19);
    transform: scale(1.03)
}

@media (max-width: 991px) {
    nav a.btn {
        width: 100%;
        margin: 0 0 2px 0;
    }
}